*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bg-color: rgba(112, 76, 166, 0.8);
    --input-placeholder-color: #CDD5E0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url('../img/bg-image.svg');
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

input.form-control::placeholder, select.form-select::placeholder {
    color: var(--input-placeholder-color);
}

.form-contact {
    background: var(--bg-color);
}

.btn-submit {
    border: none;
    color: #4036A9;
    background-color: #fff;
    transition: all 0.2s;
}

.btn-submit:hover {
    color: #fff;
    background-color: #4036A9;
}

.icon {
    padding-left: 85px;
    padding-top: 20px;
}

footer {
    background: var(--bg-color);
}

.link-dev-challenges {
    /* text-decoration: none; */
    color: #fff;
    transition: all 0.2s;
}

.link-dev-challenges:hover {
    color: #4036A9;
}