*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --bg-color: rgba(112, 76, 166, 0.8);
    --input-placeholder-color: #CDD5E0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url('../img/bg-image.svg') no-repeat fixed;
    background-size: cover;
    color: #fff;
    overflow-x: hidden;
}

h1 {
    font-size: 4vw;
    font-weight: 900;
}

h2 {
    font-size: 2vw;
    font-weight: 300;
}

input.form-control::placeholder, select.form-select::placeholder {
    color: var(--input-placeholder-color);
}

footer {
    background: var(--bg-color);
}

.form-contact {
    background: var(--bg-color);
}

.btn-submit {
    border: none;
    color: #4036A9;
    background-color: #fff;
    transition: all 0.2s;
}

.btn-submit:hover {
    color: #fff;
    background-color: #4036A9;
}

.icon {
    padding-left: 85px;
    padding-top: 20px;
}



.link-dev-challenges {
    /* text-decoration: none; */
    color: #fff;
    transition: all 0.2s;
}

.link-dev-challenges:hover {
    color: #4036A9;
}

.valid-icon {
    color: #79ef5b;
}

@media screen and (max-width: 1024px) {
    .icon {
        padding-left: 30px;
    }
    label {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 576px) {
    footer p  {
        font-size: 12px;
    }
}